# Environnement
.env
local-dev/.env
infra.env
settings.json

# Rust / Build
target/
bazel-*

# Fichiers système
$HOME
Thumbs.db
.DS_Store
**/.DS_Store

# Dépendances & Locks
MODULE.bazel.lock

# IDEs
.idea/
.vscode/
*.swp
intellij.bazelproject
rust-project.json

# Structurizr
.structurizr/
**/structurizr-*-key.json

# Fichiers et dossiers générés par Terraform
.terraform.lock.hcl
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan

# Terragrunt
.terragrunt-cache/
**/.terragrunt-cache/

# Fichiers de variables locaux - NE PAS COMMIT S'ILS CONTIENNENT DES SECRETS
*.tfvars
*.tfvars.json

# Fichiers de logs
*.log

# Fichiers de crash
crash.log



public-key.cert
.aider*

infrastructure/argocd-old
